{% extends "layout.html" %}

{% block content %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2>Aktorzy kina akcji</h2>
        <p>Ta strona opisuje sylwetki znanych aktorów kina akcji</p>
        <br />
        <p></p>
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="width:450px">
                    <img src="/static/images/arni.jpg" class="card-img-top" style="width:100%" />
                    <div class="card-body">
                        <h3 class="card-title"><strong>Arnold Schwarzenegger</strong></h3>
                        <p class="card-text">Arnold Alois Schwarzenegger – austriacko-amerykański aktor, 
                        filmowiec, polityk, biznesmen, filantrop, aktywista oraz były zawodowy kulturysta, 
                        dwukrotnie pełnił funkcję gubernatora Kalifornii w latach 2003–2011.</p>
                        <a href="#" class="btn btn-primary">Zobacz profil</a>
                    </div>
                </div>
                     
            </div>
            <div class="col-sm-6">
                <div class="card" style="width:450px">

                    <div class="card-body">
                        <h3 class="card-title"><strong>Sylvester Stallone</strong></h3>
                        <p class="card-text">
                            Sylvester Stallone, właśc. Michael Sylvester Gardenzio Stallone – amerykański 
                            aktor, scenarzysta, reżyser i producent filmowy. Uznawany za jedną z największych 
                            gwiazd kina światowego oraz międzynarodową ikonę machismo i Hollywood.
                        </p>
                        <a href="#" class="btn btn-primary">Zobacz profil</a>
                    </div>
                    <img src="/static/images/sylvester.jpg" class="card-img-bottom" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
